<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!--Charset Declaration and Entitle-->
    <meta charset="utf-8">
    <title>Foward Fitness Club</title>
  </head>
  <body>
    <!--Header to store logo-->
    <header>
      <img id="logo"src="C:\Users\Administrator\Desktop\Inclass\img\ffc_logo.png" alt="">
    </header>
    <!--Navigator-->
    <nav>

    </nav>
    <!--
      This is where we tell about our website
    -->
    <main>
      <!--Important and the core of the website-->
      <section>

      </section>
      <!--Create a sibe bar-->
      <article>

      </article>
    </main>
    <!--Social media placement-->
    <footer>

    </footer>
  </body>
</html>
